.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, th, td {
    border: 0.1rem solid black;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: grey;
}

th, td {
    padding: 5px;
    text-align: center;
}

.sidebar {
  flex:  0 0 230px;
}

.main-content {
  overflow-x: auto;
  white-space: nowrap;
}

.alt-table {
    counter-reset:row-num -1;
}
.alt-table tr {
    counter-increment:row-num;
}
.alt-table tr td:first-child::before {
    content:counter(row-num);
}

.update-date-div {
  display: inline-block;
}

.prof-table td {
  text-align: left;
}

.prof-table-div {
}

.inline-div {
  display: inline-block;
  vertical-align: top;
}

.prof-collapse-button {
  width: 15rem;
  text-align: left;
}